{% extends 'my_growth_loop/base.html' %}
{% load static %}
{% block content %}

<div class="pagina-inicial margin-top-100">
    <main class="principal">
        <section class="conteudo">
          <h1 class="titulo">Minhas Métricas de Aquisição!!!</h1>
          
          <section class="">
            <div class="row">
              <div class="col-md-4 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Usuários</h2>
                </div>
              </div>

              <div class="col-md-4 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Novos usuários</h2>
                </div>
              </div>
  
              <div class="col-md-4 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Ideias de Aquisição Sugeridas Recentemente</h2>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Sessões</h2>
                </div>
              </div>
  
              <div class="col-md-3 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Tempo de Engajamento Médio por Sessão</h2>
                </div>
              </div>
  
              <div class="col-md-3 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Taxa de Engajamento</h2>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Conversões por Nome do evento ao longo do tempo</h2>
                </div>
              </div>

              <div class="col-md-4 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Número de leads gerados</h2>
                </div>
              </div>
  
              <div class="col-md-4 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Custo por Lead</h2>
                </div>
              </div>

              <div class="col-md-4 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Taxa de Conversão Lead x Visitas</h2>
                </div>
              </div>
            </div>
          </section>
        </section>
    </main>
</div>

{% endblock %}