{% extends 'my_growth_loop/base.html' %}
{% load static %}
{% block content %}

<div class="pagina-inicial margin-top-100">
    <main class="principal">
        <section class="conteudo">
          <h1 class="titulo">Minhas Métricas de Ativação!!!</h1>

          <section class="">
            <div class="row">
              <div class="col-md-8 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Leads</h2>
                </div>
              </div>
  
              <div class="col-md-4 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Ideias de Ativação Sugeridas Recentemente</h2>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Oportunidades</h2>
                </div>
              </div>
  
              <div class="col-md-3 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white"> Custo por Lead (CPL)</h2>
                </div>
              </div>
  
              <div class="col-md-3 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Custo por Oportunidade (CPO)</h2>
                </div>
              </div>
            </div>
          </section>
              
        </section>
    </main>
</div>

{% endblock %}