{% extends 'my_growth_loop/base.html' %}
{% load static %}
{% block content %}

<div class="pagina-inicial margin-top-100">
    <main class="principal">
        <section class="conteudo">
          <h1 class="titulo">My Growth Plan a Minha Bússola do Crescimento!!!</h1>

          <div class="row padding-top-20">
              <div class="col-md-4 col-12">
                <h2 class="text-center font-size-30 font-color-white">Growth Cards Modelado</h2>

                <div class="card-deck align-left-desktop padding-top-20">
                  <div class="card text-white bg-color-black border-light">
                      <div class="card-header font-size-22">
                        <div class="row">
                          <div class="col-md-8 col-12">
                            <p class="font-size-14"><i class="fa-solid fa-users-gear font-size-14" style="color: #7B78E5;"></i>&nbsp; Retenção</p>
                          </div>

                          <div class="col-md-4 col-12">
                            <h3 class="font-size-18"><span class="font-size-14">ICE Score =</span> 6.9</h3>
                          </div>

                          <div class="col-md-12 col-12 padding-top-20">
                            Título da Ideia
                          </div>
                        </div>
                      </div>

                      <div class="card-body">
                        <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'retencao' %}">Saiba mais</a></small>
                      </div>
                  </div>
                </div>

                <div class="card-deck align-left-desktop padding-top-20">
                  <div class="card text-white bg-color-black border-light">
                      <div class="card-header font-size-22">
                        <div class="row">
                          <div class="col-md-8 col-12">
                            <p class="font-size-14"><i class="fa-solid fa-power-off" style="color: #7B78E5;"></i>&nbsp; Ativação</p>
                          </div>

                          <div class="col-md-4 col-12">
                            <h3 class="font-size-18"><span class="font-size-14">ICE Score =</span> 6.2</h3>
                          </div>

                          <div class="col-md-12 col-12 padding-top-20">
                            Título da Ideia
                          </div>
                        </div>
                      </div>

                      <div class="card-body">
                        <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'retencao' %}">Saiba mais</a></small>
                      </div>
                  </div>
                </div>

                <div class="card-deck align-left-desktop padding-top-20">
                  <div class="card text-white bg-color-black border-light">
                      <div class="card-header font-size-22">
                        <div class="row">
                          <div class="col-md-8 col-12">
                            <p class="font-size-14"><i class="fa-solid fa-land-mine-on" style="color: #7B78E5;"></i>&nbsp;  Awareness</p>
                          </div>

                          <div class="col-md-4 col-12">
                            <h3 class="font-size-18"><span class="font-size-14">ICE Score =</span> 5.7</h3>
                          </div>

                          <div class="col-md-12 col-12 padding-top-20">
                            Título da Ideia
                          </div>
                        </div>
                      </div>

                      <div class="card-body">
                        <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'retencao' %}">Saiba mais</a></small>
                      </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-12">
                <h2 class="text-center font-size-30 font-color-white">Growth Cards em Execução</h2>

                <div class="card-deck align-left-desktop padding-top-20">
                  <div class="card text-white bg-color-black border-light">
                      <div class="card-header font-size-22">
                        <div class="row">
                          <div class="col-md-8 col-12">
                            <p class="font-size-14"><i class="fa-solid fa-land-mine-on" style="color: #7B78E5;"></i>&nbsp;  Awareness</p>
                          </div>

                          <div class="col-md-4 col-12">
                            <h3 class="font-size-18"><span class="font-size-14">ICE Score =</span> 7.2</h3>
                          </div>

                          <div class="col-md-12 col-12 padding-top-20">
                            Título da Ideia
                          </div>
                        </div>
                      </div>

                      <div class="card-body">
                        <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'retencao' %}">Saiba mais</a></small>
                      </div>
                  </div>
                </div>

                <div class="card-deck align-left-desktop padding-top-20">
                  <div class="card text-white bg-color-black border-light">
                      <div class="card-header font-size-22">
                        <div class="row">
                          <div class="col-md-8 col-12">
                            <p class="font-size-14"><i class="fa-solid fa-sack-dollar" style="color: #7B78E5;"></i>&nbsp; Receita</p>
                          </div>

                          <div class="col-md-4 col-12">
                            <h3 class="font-size-18"><span class="font-size-14">ICE Score =</span> 7.6</h3>
                          </div>

                          <div class="col-md-12 col-12 padding-top-20">
                            Título da Ideia
                          </div>
                        </div>
                      </div>

                      <div class="card-body">
                        <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'retencao' %}">Saiba mais</a></small>
                      </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-12">
                <h2 class="text-center font-size-30 font-color-white">Growth Cards Finalizado</h2>

                <div class="card-deck align-left-desktop padding-top-20">
                  <div class="card text-white bg-color-black border-light">
                      <div class="card-header font-size-22">
                        <div class="row">
                          <div class="col-md-8 col-12">
                            <p class="font-size-14"><i class="fa-solid fa-power-off" style="color: #7B78E5;"></i>&nbsp; Ativação</p>
                          </div>

                          <div class="col-md-4 col-12">
                            <h3 class="font-size-18"><span class="font-size-14">ICE Score =</span> 8.8</h3>
                          </div>

                          <div class="col-md-12 col-12 padding-top-20">
                            Título da Ideia
                          </div>
                        </div>
                      </div>

                      <div class="card-body">
                        <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'retencao' %}">Saiba mais</a></small>
                      </div>
                  </div>
                </div>
              </div>
          </div>
              
        </section>
    </main>
</div>

{% endblock %}