{% extends 'my_growth_loop/base.html' %}
{% load static %}
{% block content %}

<div class="pagina-inicial margin-top-100">
    <main class="principal">
        <section class="conteudo">
          <h1 class="titulo">Minhas Métricas de Receita!!!</h1>
          
          <section class="">
            <div class="row">
              <div class="col-md-8 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">MRR (Monthly Recurring Revenue)</h2>
                </div>
              </div>
  
              <div class="col-md-4 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Ideias de Receita Sugeridas Recentemente</h2>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-4 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">ARR (Annual Recurring Revenue)</h2>
                </div>
              </div>

              <div class="col-md-4 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">ARPU (Average Revenue Per User)</h2>
                </div>
              </div>
  
              <div class="col-md-4 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Receita perdida com o Churn</h2>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Net MRR Growth</h2>
                </div>
              </div>

              <div class="col-md-3 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Custo de Aquisição de Cliente (CAC)</h2>
                </div>
              </div>

              <div class="col-md-3 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Razão CAC x LTV (Customer Lifetime Value)</h2>
                </div>
              </div>
  
              <div class="col-md-3 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Expansion MRR</h2>
                </div>
              </div>
            </div>
          </section>
        </section>
    </main>
</div>

{% endblock %}