{% extends 'my_growth_loop/base.html' %}
{% load static %}
{% block content %}

<div class="pagina-inicial margin-top-100">
    <main class="principal">
        <section class="conteudo">
          <h1 class="titulo">Minhas Métricas de Referral!!!</h1>
           
          <section class="">
            <div class="row">
              <div class="col-md-8 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Coeficiente Viral</h2>
                </div>
              </div>
  
              <div class="col-md-4 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Ideias de Aquisição Sugeridas Recentemente</h2>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-3 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Usuários por Referral</h2>
                </div>
              </div>
  
              <div class="col-md-3 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Leads por Referral</h2>
                </div>
              </div>
  
              <div class="col-md-3 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Oportunidades por Referral</h2>
                </div>
              </div>

              <div class="col-md-3 col-12 padding-top-20">
                <div class="padding-top-20 padding-bottom-400 padding-left-20 border bg-color-black border-radius-10">
                  <h2 class="font-color-white">Vendas por Referral</h2>
                </div>
              </div>
            </div>
          </section>
        </section>
    </main>
</div>

{% endblock %}