{% extends 'my_growth_loop/base.html' %}
{% load static %}
{% block content %}

<div class="pagina-inicial margin-top-100">
    <main class="principal">
        <section class="conteudo">
          <div class="row">
            <div class="col-md-9 col-12">
              <h1 class="titulo"> Ideias sugeridas pelo My Growth Loop o meu DECK de Crescimento!!!</h1>
            </div>

            <div class="col-md-3 col-12">
              <a class="nav-link btn btn-outline-light font-size-22" href="{% url 'aquisicao' %}"><i class="fa-regular fa-calendar-plus" style="color: #7B78E5;"></i>&nbsp; Crie uma ideia</a>
            </div>
          </div>
          
          <div class="card-deck align-left-desktop padding-top-20">
            <div class="card padding-top-20 text-white bg-color-black border-light">
                <div class="card-header font-size-22">Título da Ideia</div>
                <div class="card-body">
                  <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'awareness' %}"><i class="fa-solid fa-land-mine-on" style="color: #7B78E5;"></i>&nbsp;  Awareness</a></small>
                </div>
            </div>
        
            <div class="card padding-top-20 text-white bg-color-black border-light">
                <div class="card-header font-size-22">Título da Ideia</div>
                <div class="card-body">
                  <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'aquisicao' %}"><i class="fa-solid fa-users" style="color: #7B78E5;"></i>&nbsp; Aquisição</a></small>
                </div>
            </div>
        
            <div class="card padding-top-20 text-white bg-color-black border-light">
                <div class="card-header font-size-22">Título da Ideia</div>
                <div class="card-body">
                  <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'ativacao' %}"><i class="fa-solid fa-power-off" style="color: #7B78E5;"></i>&nbsp; Ativação</a></small>
                </div>
            </div>
          </div>
        
          <div class="card-deck align-left-desktop padding-top-20">
            <div class="card padding-top-20 text-white bg-color-black border-light">
                <div class="card-header font-size-22">Título da Ideia</div>
                <div class="card-body">
                  <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'retencao' %}"><i class="fa-solid fa-users-gear" style="color: #7B78E5;"></i>&nbsp; Retenção</a></small>
                </div>
            </div>
        
            <div class="card padding-top-20 text-white bg-color-black border-light">
                <div class="card-header font-size-22">Título da Ideia</div>
                <div class="card-body">
                  <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'receita' %}"><i class="fa-solid fa-sack-dollar" style="color: #7B78E5;"></i>&nbsp; Receita</a></small>
                </div>
            </div>
        
            <div class="card padding-top-20 text-white bg-color-black border-light">
                <div class="card-header font-size-22">Título da Ideia</div>
                <div class="card-body">
                  <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'referral' %}"><i class="fa-solid fa-people-arrows" style="color: #7B78E5;"></i>&nbsp; Referral</a></small>
                </div>
            </div>
          </div>

          <div class="card-deck align-left-desktop padding-top-20">
            <div class="card padding-top-20 text-white bg-color-black border-light">
                <div class="card-header font-size-22">Título da Ideia</div>
                <div class="card-body">
                  <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'awareness' %}"><i class="fa-solid fa-land-mine-on" style="color: #7B78E5;"></i>&nbsp;  Awareness</a></small>
                </div>
            </div>
        
            <div class="card padding-top-20 text-white bg-color-black border-light">
                <div class="card-header font-size-22">Título da Ideia</div>
                <div class="card-body">
                  <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'aquisicao' %}"><i class="fa-solid fa-users" style="color: #7B78E5;"></i>&nbsp; Aquisição</a></small>
                </div>
            </div>
        
            <div class="card padding-top-20 text-white bg-color-black border-light">
                <div class="card-header font-size-22">Título da Ideia</div>
                <div class="card-body">
                  <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'ativacao' %}"><i class="fa-solid fa-power-off" style="color: #7B78E5;"></i>&nbsp; Ativação</a></small>
                </div>
            </div>
          </div>
        
          <div class="card-deck align-left-desktop padding-top-20">
            <div class="card padding-top-20 text-white bg-color-black border-light">
                <div class="card-header font-size-22">Título da Ideia</div>
                <div class="card-body">
                  <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'retencao' %}"><i class="fa-solid fa-users-gear" style="color: #7B78E5;"></i>&nbsp; Retenção</a></small>
                </div>
            </div>
        
            <div class="card padding-top-20 text-white bg-color-black border-light">
                <div class="card-header font-size-22">Título da Ideia</div>
                <div class="card-body">
                  <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'receita' %}"><i class="fa-solid fa-sack-dollar" style="color: #7B78E5;"></i>&nbsp; Receita</a></small>
                </div>
            </div>
        
            <div class="card padding-top-20 text-white bg-color-black border-light">
                <div class="card-header font-size-22">Título da Ideia</div>
                <div class="card-body">
                  <p class="font-size-18 font-weight-light">Aqui vai a descrição curta da ideia apresentada de forma dinâmica. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="nav-link btn btn-outline-light" href="{% url 'referral' %}"><i class="fa-solid fa-people-arrows" style="color: #7B78E5;"></i>&nbsp; Referral</a></small>
                </div>
            </div>
          </div>
        </section>
    </main>
</div>

{% endblock %}